@import "./../../globals.css";

.menu {
  display: flex;
  list-style-type: none;
  padding: 0;
  width: 100%;
  margin: 0 auto;
}

.menu li {
  padding: 10px;
  flex: 1;
  text-align: center;
}

.menu a {
  color: #4fc96f;
  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
  transition:
    color 0.3s ease,
    text-shadow 0.3s ease;
}

.menu a:hover {
  color: #fff;
  text-shadow:
    0 0 5px #4fc96f,
    0 0 10px #4fc96f;
}

.menu a:active {
  color: #0a0;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
