@import "./../globals.css";

.matrix-bubble {
  width: 70px;
  height: 70px;
  background-color: #4fc96f;
  border-radius: 40% 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: bold;
  box-shadow:
    0 0 10px #4fc96f,
    0 0 20px #4fc96f,
    0 0 30px #4fc96f;
  margin: 20px;
}

.study-name {
  font-family: var(--font-geist-sans);
  text-align: center;
  font-size: 25px;
}
